$cWhite: white;
$Pink: pink;

body {
  background-color: #666666;
}

#container {
  text-align: center;
  display: flex;
  justify-content: center;

  & > div {
    flex-basis: 300px;
  }
}

.style {
  & .btn {
    position: relative;
    display: inline-block;
    background-color: $cWhite;
    border: 1px solid $Pink;
    font-weight: 600;
    padding: 10px 40px;
    margin: 10px auto;
    cursor: pointer;
    transition: all 0.3s;
    color: $Pink;
    text-decoration: none !important;

    &.float:hover {
      background-color: $Pink;
      color: $cWhite;
      box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
    }

    &.filled {
      background-color: $Pink;
      color: $cWhite;
      box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);

      &:hover {
        background-color: $cWhite;
        color: $Pink;
        box-shadow: none;
      }
    }

    &.letter-spacing:hover {
      background-color: $Pink;
      letter-spacing: 3px;
      color: $cWhite;
    }

    &.shadow {
      box-shadow: none;

      &:hover {
        transform: translate(-2.5px, -2.5px);
        box-shadow: 5px 5px 0 0 $Pink;
      }
    }

    &.solid {
      box-shadow: 2px 2px 0 0 $Pink;
      border-radius: 7px;

      &:hover {
        transform: translate(2px, 2px);
        box-shadow: none;
      }
    }
  }
}
